/* Demo CSS */

html, body {
    margin: 0;
    padding: 0;
     height:100%;
}



body {
    font-size: 15px;
}

table {
    font-size: 13px;
}

.container {

}

.where-are-we-box {
    position: relative;
    left: -20px;
    top: -20px;
    background-color: #bbb;
    padding: 10px 15px;
    display: inline-block;
}

.bold {
    font-weight: bold;
}
footer h4{
    text-align: center;
}
.container-fluid{
    height: 100%;
}
